/* filepath: /home/david/ml/progtv2/app_progTV/static/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
}

#programs {
    width: 80%;
    margin: 20px 0;
}

.program {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.program p {
    margin: 5px 0;
}

.program img {
    max-width: 100px;
    height: auto;
    display: block;
    margin-top: 10px;
}

.card {
    width: 30rem;
}

#page-title {
    text-align: center;
}

#program-container {
    display:contents;
}